
.about-us-container {
    background: url(../assets/img/kolescki.png.jpg);
    /*  ali
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('image.png'); */
    background-size: cover;
    background-attachment: fixed;
    height: 20vh;
    position: relative;
    text-align: center;
  }
  
  .about-us-container::before {
    content: "";
    display: block;
    -webkit-filter: blur(1px) brightness(0.5);
    -moz-filter: blur(1px) brightness(0.5);
    -ms-filter: blur(1px) brightness(0.5);
    -o-filter: blur(1px) brightness(0.5);
    filter: blur(1px) brightness(0.5);
    position: absolute;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    background: inherit;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 10;
    padding-top: 5vh;
  }
  
  .content h1 {
    font-family: arial;
    font-size: 4em;
    color: gold;
    font-weight: 900;
    margin: 20px;
  }

  h1{
    text-align: center;
  }
  
  .description-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }