.counters .counters-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    height: 15vh;
    width: 100%;
    background-color: rgb(224, 196, 170);
    padding: 2vh 0 2vh 0;
}

.counters .counters-container .counter-container{
    margin:0 2vw 0 2vw;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(192, 151, 120);
    padding: 1rem 1rem;
    border-radius: 5px;
}

.counters .counters-container .counter-container h3{
    font-family: "Quattrocento Sans", sans-serif;
}

.counters .counters-container .counter-container p{
    font-family: "Fanwood Text", serif;
}

@media screen and (max-width: 768px) {
    .counters .counters-container{
        height: auto;
        width: 100%;
    
        background-color: rgb(224, 196, 170);
    }

    .counters .counters-container .counter-container{
        margin: 2vw 2vw;
        width: 30%;
        display: flex;
    }
  }