.footer-container{
    height: auto;
    width: 100%;
    padding: 2% 0;
    background-color: rgb(109, 106, 101);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    color: rgb(249, 246, 239);
    padding: rem;
}


.footer-container  .fotter-section-container{
    width: auto;
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-container .fotter-section-container .footer-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    margin: 0 5rem;
}

.footer-section > :first-child{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 0.4rem 0;
    font-family: "Quattrocento Sans", sans-serif;
} 

.footer-section > *:not(:first-child), .footer-section > ul > li > a{
    font-family: "Fanwood Text", serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.footer-section > *:not(:first-child):hover, .footer-section > ul > li > a:hover{
    transition: ease-out 0.3s;
    color: rgb(219, 204, 170);
}

@media screen and (max-width: 768px) {
    .footer-container{
        margin-top: 5vh;
        padding: 7vh 0 ;
        flex-direction: column;
        gap: 2rem 0;
    }

    .footer-container  .fotter-section-container{
        justify-content: flex-start;
    }

    .footer-container .fotter-section-container .footer-section{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    
        margin: 0 5vw;
    }
}

