/* 
Font pairing style: Classic, Serif + Serif
Title font: Quattrocento
Paragraph font: Fanwood Text
Text color: RGB(249, 246, 239)
Background color: RGB(109, 106, 101)
Additional color(s): RGB(191, 175, 160), RGB(217, 203, 192)
*/

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

header{
  background-color: RGB(109, 106, 101);
}

li{
  list-style: none;
}

a{
  color: rgb(249, 246, 239);
  text-decoration: none;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.container{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  top: 0;
  position: fixed;
  z-index: 1000000000;
  background-color: RGB(109, 106, 101);
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-branding{
  font-size: 2rem;
  font-weight: 600;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link{
  transition: 0.3s ease-out;
}

.nav-link:hover{
  color: rgb(0, 0, 0);
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media(max-width:1024px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    z-index: 1000;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .container{
    top: 0;
    position: fixed;
    z-index: 1000000;
    background-color: RGB(109, 106, 101);
    width: 100%;
  }

  .navbar{
    justify-content: space-around;
  }
}
