:root {
    --cards-total-height: 0px; /* Začetna vrednost */
}
  
.card-section{
    position: relative;
    margin-top: -5vh;
    margin-bottom: 37vh;
    height: 30vh;
    width: 100%;
    max-width: 100vw;

    padding: 0 4rem 0 4rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: start; 
    gap: 2rem;
}

.card-section .card{
    width: 25vw;
    
    height: auto;


    border: 1px solid rgb(228, 228, 228);

    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-section .card .card-icon{
    top: 0;
    height: 40%;
    width: 100%;
    background-color: rgb(217, 203, 192);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section .card .card-icon img{
    max-height: 80%;
    max-width: auto; 
    display: block; 
}

.card-section .card .card-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding:1.2rem ;
}

.card-section .card .card-description h3{
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0 0.5em 0;
}

.card-section .card .card-description p{
    font-family: "Fanwood Text", serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    width: 100%;
}

section.services .services-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9rem 0 0 0;
}


section.services .services-btn a{
    color: black;
    font-weight: 600;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem ;
    border: 0.2rem solid rgb(217, 203, 192);
    border-radius: 1.2rem;
    background-color: rgb(217, 203, 192);
}

@media screen and (max-width: 768px) {
    .card-section{
        margin-bottom: calc(var(--cards-total-height) + 5vh);
        width: 100%;
        padding: 0;
    }
    .card-section .card{
        width: 100%;
        height: auto;
        margin: 0 2vw 0 2vw;
    }
}
