:root {
    --cards-total-height: 0px; /* Začetna vrednost */
}
  
.card-section{
    position: relative;
    height: --cards-total-height;
    max-width: 100vw;

    padding: 0 4rem 0 4rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: start; 
    gap: 2rem;
}

.card-section .card{
    width: 25vw;
    margin-top: -5vh;
    margin-bottom: 5vh;
    height: auto;


    border: 1px solid rgb(228, 228, 228);

    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-section .card .card-icon{
    top: 0;
    height: 40%;
    width: 100%;
    background-color: rgb(217, 203, 192);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section .card .card-icon img{
    max-height: 80%;
    max-width: auto; 
    display: block; 
}

.card-section .card .card-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding:1.2rem ;
}

.card-section .card .card-description h3{
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0 0.5em 0;
}

.card-section .card .card-description p{
    font-family: "Fanwood Text", serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    width: 100%;
}

.services-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -2vh;
}

.services-btn button{
    font-size: 1.5rem;
    font-family: "Fanwood Text", serif;
    margin: 0 0 0.8rem 0;
    padding: 0.2rem 0.7rem;
    background-color: rgb(224, 196, 170);
    border: 2px solid rgb(117, 96, 56);
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px rgb(150, 129, 110); 
    transition: all 0.5s ease;
  }
  
  .services-btn button:hover{
    background-color: rgb(172, 143, 115);
  }
  
  .services-btn button:active{
    box-shadow: 0 1px rgb(150, 129, 110);
    transform: translateY(3px); 
  }
  

@media screen and (max-width: 768px) {
    .card-section{
        margin-bottom: 5vh;
        width: 100%;
        padding: 0;
    }
    .card-section .card{
        width: 100%;
        height: auto;
        margin: -5vhe 2vw 0 2vw;
    }
}